<div style="display: flex; padding: 20px;">
  <div style="flex: 2;">
    <img src="https://upload.wikimedia.org/wikipedia/en/e/e0/Iron_Man_bleeding_edge.jpg" style="max-width: 100%;" />
    <h2>NOVO HOMEM DE FERRO EM 3D</h2>
    <p>Marvel Anuncia novo homem de ferro</p>
  </div>
  <div style="flex: 1; margin-left: 20px;">
    <div style="margin-bottom: 20px;">
      <img src="https://lumiere-a.akamaihd.net/v1/images/marvels1_lob_crd_03_3f675c76.jpeg" style="width: 100%;" />
      <strong>Nova Série anunciada no Disney +</strong>
    </div>
    <div style="margin-bottom: 20px;">
      <img src="https://cdn.marvel.com/content/1x/blackpanther_lob_crd_01.jpg" style="width: 100%;" />
      <strong>Novo filme do pantera negra lançado em breve</strong>
    </div>
    <div>
      <img src="https://cdn.marvel.com/content/1x/xmen97_lob_crd_01.jpg" style="width: 100%;" />
      <strong>Novo filme dos X-men está em pós produção, afirma diretor</strong>
    </div>
  </div>
</div>